.custom-header {
    height: 70px !important;
    border-bottom: 4px solid var(--ion-color-primary);
}

.default-font {
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    text-align: left;
}

.header-title {
    padding-top: 12px;
    color: rgb(102, 102, 102);
    font-size: 19px;
}