<ion-content>
  <div class="container">
    <div class="logo-container">
      <img class="logo" src="../../../assets/logo_horizontal.svg" alt="Horizontal BHD Leon Logo">
    </div>
    <form class="ion-padding" (keyup.enter)="doLogin()">
      <app-input 
        placeholder="Número de cédula"
        requiredMsg="Debes ingresar un número de documento"
        controlName="id"
        inputType="text"
        [parentForm]="loginForm">
      </app-input>
      <app-input
        placeholder="Contraseña"
        requiredMsg="Debes ingresar una contraseña"
        controlName="password"
        inputType="password"
        [parentForm]="loginForm">
      </app-input>
      <ion-item lines="none" class="ion-no-padding toggle-item">
        <ion-label class="default-font toggle-label">Recordar usuario</ion-label>
        <ion-toggle slot="start" mode="ios" (ionChange)="toggleRememberUser($event)"></ion-toggle>
      </ion-item>
      <button class="submit-btn default-font" (click)="doLogin()" [disabled]="!buttonEnabled">Iniciar sesión</button>
    </form>
  </div>
  <div class="bottom-div" style="z-index: -5;">
    <img style="width: 100%;" src="../../../assets/bkg.png"/>
  </div>
  <div class="bottom-div" style="padding: 1em; z-index: -4; background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), white);">
    <img style="width: 100%; visibility: hidden;" src="../../../assets/bkg.png"/>
  </div>
</ion-content>